.top{
    padding-top: 13px;
}
.left{
    padding-left: 5px!important;
}
.ss{
    width: 2rem!important;
    height: 20px;
}.s{
    height: 20px;
    width: 2rem!important;

}.six{
    height: 40px;
    width: 4rem!important;

}

.bold{
    font-weight: bold;
}

.th{
    margin-top: 3px;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.1rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}
.bot{
    height: 100px;

}
.trt{    position: relative!important;

    bottom: 5px!important;
}
.mtv{
    margin-top: 5rem!important;
}
.bbt{
    position: relative!important;
    height: 7%;}
.vdo {
    margin-top: 4rem;
    height: 38%;
}
.mypc1{
    font-weight: 700;}
.hh{
    height: 255px!important;
    width: 100%!important;
}

.mtp{    margin-top: 5rem!important;
}

.form-control{
    background-color: rgb(235, 236, 240)!important;
}
.form-control:focus {border-color:rgb(246, 246, 246)!important;
    -webkit-box-shadow: none!important;
        -moz-box-shadow: none!important;
        box-shadow: none!important;
    }
    @import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
           .font{
            font-family: 'Secular One', sans-serif;
            color: #101010;}
            .fcolor{
                color: #444444!important;}
            BODY{
                background-color: #ffffff;  
                
                 }
                 .row {


                    --bs-gutter-x: 0rem!important;}

.navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
                        display: block!important;}
                        .navbar-brand{
                            margin-right: 0px!important;
                        }
                        .pad{
                            margin-bottom: 0rem!important;

                                          }
                                          .sas{
                                            font-size: 1rem!important;
                                            margin-bottom: 0rem!important;
                                          }

                                          .a{
                                            font-size: 1rem!important;
                                          }
                                          .active1{
                                            color: black!important;
                                        }  .active2{
                                            color: rgb(0 0 0 / 61%)!important;
                                        }  .active3{
                                            color: rgb(0 0 0 / 61%)!important;
                                        }
                                    .sos{         margin-bottom: 0rem!important;


                                    }

.wd{
    height: 6rem;
}
.pop{
    padding-top: 2.5rem;
}
.bt{background-color: aliceblue;}
.yt{background-color: #faebd785;}
.dg{
    background-color: #a9a9a93d;
}
.nt{
    background-color: #9ddde95e;
}
.ba{
    background-color: #ffccd68c;
}