.top{
    padding-top: 13px;
}
.left{
    padding-left: 5px!important;
    color: black;
}.sir{
    
    width: 3rem!important;
    height: 3rem;
color: #df5c5c;
}
.sir2{
    
    width: 39px!important;
    height: 39px;
    background-color: black;
    color: white;
    padding: 5px;
    margin-left: 0.7rem;
    border-radius: 4px;
}
.google{
    height: 3rem!important;
    width: 98%!important;
    border: black;
    background: url('./google.png') no-repeat}
.sir1{
    color: #364ca4;
    width: 3rem!important;
    height: 43px;
margin-left: 0.8rem;}
.ss{
    width: 2rem!important;
    height: 20px;
}.s{
    height: 20px;
    width: 2rem!important;

}.six{
    height: 40px;
    width: 4rem!important;

}

.bold{
    font-weight: bold;
}

.th{
    margin-top: 3px;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.1rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}
.bot{
    height: 100px;

}
.trt{    position: relative!important;

    bottom: 5px!important;
}
.mtv{
    margin-top: 5rem!important;
}
.bbt{
    position: relative!important;
    height: 7%;}
.vdo {
    margin-top: 4rem;
    height: 38%;
}
.mypc1{
    font-weight: 700;}
.hh{
    height: 255px!important;
    width: 100%!important;
}
.mypcd{
    font-weight: 500;
    height: 60px;
    }.mypcd1{
        font-weight: 500;
        height: 20px;
        margin-top: 5px!important;
        }

.mtp{    margin-top: 5rem!important;
}
.sin{
    width: 11rem;
    margin-right:8px ;
}
.form-control{
    background-color: rgb(235, 236, 240)!important;
}hr{
    margin-left: -1rem!important;
    width: 27rem!important;
}
.form-control:focus {border-color:rgb(246, 246, 246)!important;
    -webkit-box-shadow: none!important;
        -moz-box-shadow: none!important;
        box-shadow: none!important;
    }
    @import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
           .font{
            font-family: 'Secular One', sans-serif;
            color: #101010;}
            .fcolor{
                color: #444444!important;}
            BODY{
                background-color: #ffffff;  
                
                 }
                 .row {


                    --bs-gutter-x: 0rem!important;}

.navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
                        display: block!important;}
                        .navbar-brand{
                            margin-right: 0px!important;
                        }
                        .pad{
                            margin-bottom: 0rem!important;

                                          }
                                          .sas{
                                            font-size: 1rem!important;
                                            margin-bottom: 0rem!important;
                                          }

                                          .a{
                                            font-size: 1rem!important;
                                          }
                                          
                                    .sos{         margin-bottom: 0rem!important;


                                    }

.wd{
    height: 6rem;
}
.pop{
    padding-top: 2.5rem;
}
.bt{background-color: #ffeebb;}
.yt{background-color: #faebd785;}
.dg{
    background-color: #a9a9a93d;
}
.nt{
    background-color: #9ddde95e;
}
.ba{
    background-color: #ffccd68c;
}

   a{
    text-decoration: none!important;
    color: #0000007a!important;
   }
   .active{
    color:#000000!important;
   }
.bdr{
    border-top: 1px solid #b8b8b8;
    border-bottom: 1px solid #b8b8b8;

}.ppp{
    padding-right: 12px!important;
}
.under{
  
    color: #4b96e1!important;
}
.we{font-weight: 700;}

.spp{
    margin-top: 2rem;
}
.form-control{
    background-color: white!important;
}
.form-switch .form-check-input{
    margin-left: 0px!important;
    width: 58px!important;
    height: 27px!important;
}
.form-switch{
    padding-left: 0px!important;

}

.App{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.logged-in {
    color: #0daf0d;
  }
  .tr{
    border-top-left-radius: 50px 30px;
    border-top-right-radius: 50px 30px;
    height: 25rem!important;
background-color: #e9ecef66;  }
.md{
    width: 21rem;
}
.btnred{
    border: 2px solid #ff3838!important;
    color: #ff3838!important;
    font-weight: 500!important;

}
.h66{    margin-bottom: 0px!important;}