#app { height: 100% }
html,
body {
  position: relative;
  height: 100%;
}


.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
  color: white;
  content: 'next';
}.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
  content: 'prev';
  color: white;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 247px;
  object-fit: cover;}

p{
  margin-bottom: 0!important;
}
.myrow {
  border: 1px solid grey!important;
  margin: 9px;
  padding: 13px;
}
.myp{
  padding-left: 17px!important;
}
.mypc{
  font-weight: 700;
  padding-left: 17px!important;


}

.mgh{
  margin-top: 17px;
}